<div class="wrapper">
  <h1>Articles</h1>
  <div class="newar">
    <%= link_to 'New article', new_article_path %>
  </div>
  <table>
    <tr>
      <div class="title">
        <th>Title</th>
      </div>
      <div class="text">
        <th>Text</th>
      </div>
      <th colspan="3"></th>
    </tr>

    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <div class="show">
          <td><%= link_to 'Show', article_path(article) %></td>
        </div>
        <td><%= link_to 'Destroy', article_path(article),
                method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</div>
