<div class="show">
  <p>
    <div class="titleshow">
      <strong>Title:</strong>
    </div>
    <%= @article.title %>
  </p>

  <p>
    <div class="textshow">
      <strong>Text:</strong>
    </div>
    <%= @article.text %>
  </p>

  <div class="commentsshow">
    <b>Comments</b>
  </div>
  <%= render @article.comments %>

  <div class="addshow">
    <h2>Add a comment:</h2>
  </div>
  <%= render 'comments/form' %>


  <%= link_to 'Back', articles_path %>
</div>